.MainApp {
    background-color: #282c34;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  } */

  .headone {
    color: #009B77;
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
  }
  
.App-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

  .App-link {
    color: #61dafb;
  }
  
  .card {
    background-color: #363b45;
    width: 25%;
    height: 200%;
    border-radius: 5%;
    margin-right: 25%;
    display: block;
    margin-right: 25%;
  }
  /* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  