:root {
    --color-grey-primary: #f0f0f0;
    --color-yellow-primary: goldenrod;   
    --color-red-primary: darkred;
    --color-green-primary: mediumseagreen;
  }
   
  html{
    /* background: url(./background.jpg); */
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
  }
  

  .App{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
  }
  
  .productList{
    display:flex;
    flex:1;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin-left: 20px;
  }
  
  .productCard{
    position: relative;
    background-color: var(--color-grey-primary);
    margin: 1px;
    flex: 1 0 25rem;
    max-width: 30rem;
    max-height: 50rem;
    transition: 0.2s;
    position: bottom;
    right: 0;
  }
  
  .productCard:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
  }
  
  .productImage{
    margin-top: 2rem;
    max-width: 100%;
    height: auto;
  }
  
  .productCard__trash{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1rem;
    font-size: 2rem;
    transition: 0.2s;
    fill: var(--color-red-primary);
    cursor: pointer;
  }

  .productCard__edit{
    position: absolute;
    right: 6rem;
    bottom: 0;
    margin: 1rem;
    font-size: 2rem;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .productCard__wishlist{
    position: absolute;
    right: 3rem;
    bottom: 0;
    margin: 1rem;
    font-size: 2rem;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .productCard__content {
    margin: 2rem;
  }
  
  .productName{
    font-size: 1.5rem;
  }
  
  .displayStack__1,
  .displayStack__2{
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  section {
    padding: 2rem 0;
  }
  
  label {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 10rem;
    height: 4rem;
    cursor: pointer;
    font-size: large;
    position:absolute;
    top:100px;
    right:20px
  }
  
  label span {
    font-weight: lighter;
    font-size: small;
    padding-top: 0.5rem;
  }
  
  .input1 {
    display: none;
  }   
  
  
  