
.flex-container {
    display: flex;
    /* width: 50%; */
    height: 47vw;
}
.flex-child {
    flex: 1 1;
    /* width: 100px; */
    height: auto;
    margin-left: 3%;
    /* margin-right: 4%; */
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10%;
    /* margin-top: 200px; */
    /* padding: 120px; */
    text-align: center;
    background: #a5c7a5;
    /* background: url(https://content.wepik.com/statics/8281222/preview-page0.jpg); */
    background-size: contain;
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.bg-image {
    flex: 1 1;
    /* width: 10px; */
    height: auto;
    margin-left: 3%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10%;
    /* margin-top: 200px; */
    /* padding: 120px; */
    text-align: center;
    background: #a5c7a5;
    /* background: url(https://content.wepik.com/statics/8281222/preview-page0.jpg); */
    background-size: contain;
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.photo-image{
    background: url("https://s3.amazonaws.com/thumbnails.venngage.com/template/7231f073-42cb-4372-bb2f-caa7dc75dbed.png");
    height: 79%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 10%;
}
.todo-image{
 background: url(https://content.wepik.com/statics/8281222/preview-page0.jpg);
 height: 79%;
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
 margin: 10%;
}


.flex-child:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.bg-image:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}

.flex-child:first-child {
    margin-right: 10px;
} 

/* .background{
    background-color: #363b45;
} */